header.header
    nav.header__nav
        .header__burger
          span
        .header__menu

            .header__menu-wrapper
                .header__menu-top

                    

                    ul.header__list
                    
                        li.header__item
                            a.header__link(href="#1")
                                .arrow-container
                                    input.field(type="text" placeholder='Страны' readonly)
                                    .arrow-down
                                        span

                                    .header__container.header__contries
                                        p Южная Америка
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Северная Америка
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Арктика и Антарктика
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Африка
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Австралия и Океания
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Европа
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Россия
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                                        p Азия
                                        .header__southamerica.header__container-item
                                            p Аргентина
                                            p Бразилия
                                            p Перу
                                            p Уругвай
                                            p Чили
                                            p Эквадор
                        li.header__item
                            a.header__link(href="#2")
                                .arrow-container
                                    input.field(type="text" placeholder='Даты' readonly)
                                    .arrow-down
                                        span
                        li.header__item
                            a.header__link(href="#3")
                                .arrow-container
                                    input.field(type="text" placeholder='Тип путешествия' readonly)
                                    .arrow-down
                                        span
                                    .header__container.header__contries
                                        .header__container-item.header__vacation
                                            p Активный
                                            p Майские
                                            p На авто
                                            p На корабле
                                            p Новый год
                                            p Поход
                                            p Серфинг
                                            p Эксклюзив
                                            p Экскурсионный
                                            p Экспедиция
                        li.header__item: a.header__link(href="#4"): button.button НАЙТИ
                        li.header__item: a.header__link(href="#5") ПУТЕШЕСТВИЯ 
                        li.header__item: a.header__link(href="#6") О НАС
                        li.header__item: a.header__link(href="#7") ОТЗЫВЫ
                        li.header__item: a.header__link(href="#8") БЛОГ

                .header__menu-bot

                    .header__number p +7 (495) 123-45-67

                    button.button ПОДБЕРИТЕ МНЕ ТУР

