header.header
    nav.header__nav
        .header__burger
          span
        .header__menu

            .header__menu-wrapper
                .header__menu-top

                    ul.header__list
                    
                        li.header__item
                            a.header__link(href="#1")
                                .arrow-container
                                    input.field(type="text" placeholder='Страны' readonly)
                                    .arrow-down
                                        span
                        li.header__item
                            a.header__link(href="#2")
                                .arrow-container
                                    input.field(type="text" placeholder='Даты' readonly)
                                    .arrow-down
                                        span
                        li.header__item
                            a.header__link(href="#3")
                                .arrow-container
                                    input.field(type="text" placeholder='Тип путешествия' readonly)
                                    .arrow-down
                                        span
                        li.header__item: a.header__link(href="#4"): button.button НАЙТИ
                        li.header__item: a.header__link(href="#5") ПУТЕШЕСТВИЯ 
                        li.header__item: a.header__link(href="#6") О НАС
                        li.header__item: a.header__link(href="#7") ОТЗЫВЫ
                        li.header__item: a.header__link(href="#8") БЛОГ

                .header__menu-bot

                    .header__number p +7 (495) 123-45-67

                    button.button ПОДБЕРИТЕ МНЕ ТУР

