main.main
    .main__wrapper

        .main__title-countries
            h1 ЗИМБАБВЕ

        .main__flex
            .main__italy.main__country
                .main__image
                p.main__name ИТАЛИЯ
                p.main__description Под небом Тосканы
                p.main__cities Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари — Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)
                p.main__info 8 дней / 7 ночей Русский язык 27.04.19 - 04.05.19и еще 15 дат
                p.main__bonus Авиаперелет включен!
            .main__iceland.main__country
                .main__image
                p.main__name ИСЛАНДИЯ
                p.main__description Майские каникулы в Исландии
                p.main__cities Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi — Рейкьявик
                p.main__info 8 дней / 7 ночей Русский язык 27.04.19 - 04.05.19
            .main__turkey.main__country
                .main__image
                p.main__name ТУРЦИЯ
                p.main__description Открытие Турции
                p.main__cities Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы — Пергам — Ассос — Троя — Стамбул
                p.main__info 8 дней / 7 ночей Русский язык 28.04.19 - 05.05.19и еще 3 даты
            .main__norway.main__country
                .main__image
                p.main__name НОРВЕГИЯ, ШПИЦБЕРГЕН
                p.main__description От Свальбарда до Груманта
                p.main__info 8 дней / 7 ночей Русский язык 27.04.19 - 04.05.19и еще 15 дат
                p.main__bonus Гарантированный тур!
            

        .main__title-request
            h1 Заявка на подбор путешествия

        form(method='get')
            .main__flex
            
                .main__flex-elem
                    .main__about-you
                        p НЕМНОГО О ВАС

                .main__container    
                    label.label(for='name') ИМЯ
                    input.main-field(type="text" id='name' )   

                .main__container    
                    label.label(for='phone') ТЕЛЕФОН
                    input.main-field(type="text" id='phone' placeholder='+7___ ___ __ __')   

                .main__flex-elem
                    .main__about-you
                        p О ПУТЕШЕСТВИИ

                .main__container    
                    label.label(for='where') КУДА И КОГДА ХОТИТЕ ПОЕХАТЬ?
                    input.main-field(type="text" id='where' placeholder='Континент или страна')   
                    //- placeholder='Континент, страна или город'

                .main__container    
                    label.label(for='when') КОГДА?
                    input.main-field(type="text" id='when' placeholder='Даты или временной  интервал')


                .main__container.main__flex
                    .main__container
                        .main__about-you
                            p УДОБНЫЙ СПОСОБ СВЯЗИ

                    .main__container.main__flex
                        .main__container-elem
                            p VIBER
                            .main__box
                                .arrow-down
                        .main__container-elem
                            p WHATSAPP 
                            .main__box
                                .arrow-down
                        .main__container-elem
                            p ПОЧТА  
                            .main__box
                                .arrow-down
                        .main__container-elem
                            p ТЕЛЕФОН
                            .main__box
                                .arrow-down
                .main__container.main__flex        
                    .main__container
                        .main__about-you
                            p ОТКУДА УЗНАЛИ О НАС

                    .main__container.main__flex
                        .main__container-elem
                            p ИНТЕРНЕТ
                            .main__box
                                .arrow-down
                        .main__container-elem
                            p РЕКОМЕНДОВАЛИ ДРУЗЬЯ    
                            .main__box
                                .arrow-down
                        .main__container-elem
                            p СОЦ. СЕТИ    
                            .main__box
                                .arrow-down 
                        .main__container-elem
                            p УЖЕ ЕЗДИЛ    
                            .main__box
                                .arrow-down  
                        

                .main__flex-elem
                    .main__confirmation
                        .main__box
                            .arrow-down
                        p Получать свежие предложения по электронной почте.
                        p.main__explanation Каждую неделю мы делаем для вас обзор лучших экспедиций, статей и лайфхаков для путешественников. Если вдруг вам не понравится, вы сможете отписаться в любой момент.

                .main__flex-elem
                    .main__confirmation
                        .main__box
                            .arrow-down
                        p С обработкой своих персональных данных согласен. 
                        p.main__explanation Отправляя заявку я подтверждаю согласие с условиями Пользовательского соглашения

                .main__flex-elem
                    .arrow-container
                        button.button(type='button') ОТПРАВИТЬ
                        .arrow-right
                    
            